.text {
  width: 80%;
  font-size: 16px;
  text-align: center;
}
.rootWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customInputWrapper {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #d1d1d1;
  transition: 0.4s;
  display: flex;
}
.rootCustomInputWrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
}
.selectWrapper {
  position: relative;
  display: flex;
  padding: 12px 10px 12px 20px;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #d1d1d1;
}

.inputWrapper {
  padding: 12px 20px 12px 10px;
  flex: 4;
}
/*  */
.margin {
  margin-top: 20px;
}
.selectOption {
  padding: 10px !important;
  border: none;
  transition: 0.3s !important;
}
.selectWrapper select {
  float: right;
  border: none;
  transition: 0.3s;
}
.inputWrapper input {
  border: none;
  font-size: 14px;
  color: #313131;
}
.customInputLabel {
  margin: 0;
  font-size: 12px;
  transition: 0.4s;
}

/* Customize the label (the container) */

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

/*validation*/
.customInputWrapper.invalid {
  border: 1px solid #cb0000;
}
.customInputLabel.invalid {
  color: #cb0000;
}
@media (max-width: 678px) {
}
@media (max-width: 900px) {
}
@media (max-width: 1200px) {
}
